:root {
  font-family: "Helvetica", sans-serif;
  --header-height: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  margin-top: var(--header-height);
  background: var(--body-color);
  color: var(--body-text-color);
}

body > * {
  margin-top: var(--header-height);
}

button {
  font-size: 1rem;
  padding: 0.6em 1em;
  margin: 0.5em 0em;
  border: 0.125em solid transparent;
  border-radius: 0.5em;
  background: var(--primary-color);
  color: var(--primary-text-color);
}

button:not(:first-of-type) {
  margin-left: 0;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:hover {
   background: var(--primary-hover-color);
}

button:active {
   transform: scale(0.98);
}

a {
  font-size: 1rem;
  color: var(--primary-color);
}

a:hover {
  font-size: 1rem;
  color: var(--primary-hover-color);
}

label {
   font-weight: bold;
}


fieldset {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 1em 1em;
}

input, textarea {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 1rem;
  padding: 0.5em;
  border: 1px solid var(--primary-color);
  outline: none;
  border-radius: 4px;
  color: var(--body-text-color);
  max-width: 100%;
  background-image: linear-gradient(rgba(var(--gr-color), var(--gr-color), var(--gr-color), 0.7), rgba(var(--gr-color), var(--gr-color), var(--gr-color), 0.7));
  background-color: var(--primary-color);
}

input:focus, textarea:focus, option:focus {
  border: 1px solid var(--primary-hover-color);
  background-color: var(--primary-hover-color);
  background-image: linear-gradient(rgba(var(--gr-color), var(--gr-color), var(--gr-color), 0.8), rgba(var(--gr-color), var(--gr-color), var(--gr-color), 0.8));
}

input[type='checkbox'] {
   margin-top: 5px;
   margin-bottom: 15px;
}

select {
  border: 1px solid var(--primary-color);
}

select, option {
  font-size: 1rem;
  padding: 0.3em;
  color: var(--body-text-color);
  background-image: linear-gradient(rgba(var(--gr-color), var(--gr-color), var(--gr-color), 0.7), rgba(var(--gr-color), var(--gr-color), var(--gr-color), 0.7));
  background-color: var(--primary-color);
}

table {
  margin: 0;
  /*border-collapse: collapse;*/
}

td {
  border: none;
  text-align: start;
  font-size: 0.9rem;
  padding: 0.5em;
}

tr {
  background-color: var(--body-alt-color);
}

th {
  border: none;
  font-size: 1rem;
  padding: 0.5em;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

nav a {
   text-decoration: none;
   padding: 0.5rem 1rem;
   text-align: center;
   background-color: var(--primary-color);
   color: var(--primary-text-color);
}

img {
   max-width: 100%;
}

.xa-input__input {
   margin-bottom: 0px;
}

.xa-input__input[type='checkbox'] {
   margin-bottom: 0px;
}

.xa-input__label {
}

.xa-input__error {
   font-size: 0.9em;
   color: red;
   min-height: 16px;
   margin: 2px 0px 13px 0px;
}


